<!-- header -->
<div id="header" class="x-hidden">
    <div id="headerContent">
        <table class="headerLogoAndWorkspace"><tr><td style="width:60px">
            <div id="logodiv"></div>
        </td><td>
            <div>
                <table><tr><td>
                    <div id="wsCrumbsDiv">
                        <div style="font-size:100%;display:inline;">
                            <span style="display:inline;line-height:16px">LOGO IMG</span>
                        </div>
                    </div>
                </td><td>
                </td></tr></table>
            </div>
        </td></tr>
        </table>
        <div id="userboxWrapper"><div id="userbox">
            欢迎<img src="public/images/divo/user.gif"><span id="user"></span>&nbsp;&nbsp;&nbsp;
            <a id="logout" href="#"><img src="images/divo/logout.png">退出</a>&nbsp;&nbsp;
        </div></div>
    </div>
</div>
<!-- /header -->

<!-- footer -->
<div id="footer" class="x-hidden">
    <div style="float:left">
        &nbsp;&nbsp;&nbsp;本系统由tailor监制
    </div>
    <div id="copy" style="float:right">
        &copy;2010-2011&nbsp;tailor研制&nbsp;版权所有
    </div>
</div>
<!-- /footer -->
