!!!
html
  head
    title= title
    link(rel='stylesheet', href='/javascripts/ext/resources/css/ext-all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    
  body!= body
  
    script(type='text/javascript', src='/javascripts/ext/adapter/ext/ext-base.js')
    script(type='text/javascript', src='/javascripts/ext/ext-all.js')
  