<div>
<div>
    <table>
    <% for(var i = 0, total = history.length, start = history.length - total; i < total; i++) { 
    	var item = history[i + start]; 
    %>
    <tr>
        <td>
        <%- debug(item) %>
        </td>
    </tr>
    <% } %>
</table>
</div>
</div>
