/* Ext.ux.Multiselect 用 */
.ux-mselect {
	overflow: auto;
	background: white;
	position: relative; /* for calculating scroll offsets */
	zoom: 1;
	overflow: auto;
}
.ux-mselect-item {
	font-size: 14px;
	FONT-FAMILY: 'tahoma','宋体';
	padding: 2px;
	border: 1px solid #fff;
	white-space: nowrap;
	cursor: pointer;
}
.ux-mselect-selected {
	border: 1px dotted #a3bae9 !important;
	background: #DFE8F6;
	cursor: pointer;
}
