.icon-menu-overview {
	background-image: url(../images/goo/overview.png )
}
.icon-divo-admin-user-Main {
    background-image: url(../images/menus/user.gif )
}
.icon-divo-admin-group-Main {
    background-image: url(../images/menus/group.gif )
}
.icon-divo-admin-menu-Main {
    background-image: url(../images/menus/menu.gif )
}
.icon-divo-admin-dept-Main {
    background-image: url(../images/menus/chart_organisation.png )
}
