.icon-divo-zd-recipe-Main {
    background-image: url(../images/menus/file.gif )
}
.icon-divo-zd-queryrecipe-Main {
    background-image: url(../images/menus/file.gif )
}
.icon-divo-zd-unitinfo-Main {
    background-image: url(../images/menus/file.gif )
}
.icon-divo-zd-waterroad-Main {
    background-image: url(../images/menus/file.gif)
}
.icon-divo-zd-work-Main {
    background-image: url(../images/menus/file.gif )
}
.icon-divo-zd-vehicle-Main {
    background-image: url(../images/menus/file.gif )
}
.icon-divo-zd-otherdata-Main {
    background-image: url(../images/menus/file.gif )
}
.icon-divo-zd-show-Main {
    background-image: url(../images/menus/file.gif)
}
.icon-divo-zd-equipment-Main {
    background-image: url(../images/menus/file.gif)
}
.icon-divo-zd-plan-Main {
    background-image: url(../images/menus/file.gif)
}
.icon-divo-zd-activity-Main {
    background-image: url(../images/menus/file.gif )
}

